/* This is a example

#indexUp{
	background-color: #61d8ff;
	background-image:url('../Assets/Logo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	//border: 1px solid black;
	//border-radius: 1em;
	//margin: 0 auto;
	//margin-top: 5%;
	//padding: 5px;
	text-align: center;
	width: auto;
	height: 384px;
}
*/

/* Entire Code Bellow is Used */

/* Exit button */

#exit{
	margin: 0 auto;
}

/* Index Page*/

#indexUp{
	text-align: center;
}

#indexMid{
	background-color: gold;
	border: 1px solid black;
	border-radius: 1em;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 50%;
}

#indexBot{
	background-color: gold;
	border: 1px solid black;
	border-radius: 1em;
	margin: 0 auto;
	margin-bottom: 10%;
	padding: 5px;
	text-align: center;
	width: 50%;
}

/* SignUp Page */

#signupTop{
	text-align: center;
}

#signupMid{
	background-color: gold;
	border: 1px solid black;
	border-radius: 1em;
	margin: 0 auto;
	margin-top: 5%;
	padding: 5px;
	text-align: center;
	width: 50%;
}

#signupBot{
	background-color: gold;
	border: 1px solid black;
	border-radius: 1em;
	margin: 0 auto;
	margin-bottom: 10%;
	padding: 5px;
	text-align: center;
	width: 50%;
}

/* Game Page*/

#announcement{
	background-color: gold;
	border: 1px solid black;
	border-radius: 5em;
	margin-bottom: 1%; margin-left: 25%; margin-right: 25%; margin-top: 1%;
	text-align: center;
}

#gameTop{
	background-color: gold;
	border: 1px solid gray;
	border-radius: 5em;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 90%;
}

#gameMid{
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 90%;
}

#gameBot{
	background-color: gold;
	border: 1px solid gray;
	border-radius: 5em;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 90%;
}

/* Character Page*/

#character{
	background-image:url('../Assets/Clouds.png');
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 10px;
	text-align: center;
	width: 90%;
	
}

#characterTop{
	background-color: gold;
	border: 1px solid black;
	border-radius: 5em;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 50%;
}

#characterResult{
	background-color: gold;
	border-radius: 5em;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
}

#mid{
	background-color: transparent;
	position:relative;
	width: 100%;
	overflow: auto;
	text-align: center;
}


#characterMidLeft{
	background-color: gold;
	border: 1px solid black;
	border-top-left-radius: 10em;
	border-bottom-right-radius: 5em;
	border-bottom-left-radius: 2em;
	float: left;
	padding: 5px;
	width: 49%;
}

#characterMidRight{
	background-color: gold;
	border: 1px solid black;
	border-top-right-radius: 10em;
	border-bottom-left-radius: 5em;
	border-bottom-right-radius: 2em;
	float: right;
	width: 49%;
}

#characterSave{
	background-color: gold;
	border: 1px solid black;
	border-radius: 10em;
	margin-bottom: 1%;	margin-top: 1%;		margin-left: 25%;	
	width: 50%;
	
}

#characterBottom{
	background-color: gold;
	border: 1px solid black;
	border-radius: 5em;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
}

/* Map Page */

#map{
	position: relative;
}

.ui-dialog-titlebar {
	background-color: gold;
	border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
	padding: 2px;
	text-align: center;
}
.ui-dialog .ui-dialog-titlebar-close {
	content: "x";
}


#dialog{
	background-color: gold;
	border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
	text-align: center;
}

#j_1{
	position: absolute;
	left: 790px;
	top: 865px;
}

#j_2{
	position: absolute;
	left: 900px;
	top: 350px;
}

#j_3{
	position: absolute;
	left: 710px;
	top: 210px;
}
#j_4{
	position: absolute;
	left: 710px;
	top: 400px;
}

#j_5{
	position: absolute;
	left: 700px;
	top: 590px;
}

/* Blacksmith Pages */

#Blacksmith{

	margin: auto;
	overflow: auto;
	position: relative;
	text-align: center;
	width: 90%;
}

#BlacksmithForge{

	position: absolute;
	top: 0;
	right: 50px;

}


/* Code For All Pages*/

body{
	background-color: #61d8ff;
}

h1{
	text-align: center;
}

img{
	border: 0;
}

input[type=password]{

	width: 200px;
}

input[type=text]{
	
	width: 200px;
}

table{ 
	margin-right:auto; margin-left:auto;
}