body {
	background: #AAAAAA;
}

h1 {
	text-align:center;
	color: black;
}

h3 {
	text-align:center;
	color: black;
}

h4 {
	text-align:center;
	color: black;
}
table {
		background: #F5F5E5;
		border: 1px solid #333333;
		
		color:black;
		text-align:center;
		font-family:sans-serif;
}

th {
	background: #EEEEEE;
	text-align: center;
}